/* Section divs */
#introduction   { background: #4286f460; border-color: #4286f4 }
#skills         { background: #44a81260; border-color: #44a812 }
#contact        { background: #ff424260; border-color: #ff4242 }

/* Widgets */
.contentWrap { 
    display: flex;
}

section{
    border-top: 5px solid;
    border-left: 5px solid;
    width: 90%;
    height: auto;
    min-height: 370px;
    padding: 1em;
    margin: 1em auto;
}

aside {
    width: 15%;
    height: auto;
}

article {
    width: 80%;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 20px;
} 

#greeting{
    font-size: 2em;
    height: 0em;
    text-align: center;
}

#programmingThought{
    font-size: 2em;
    font-family: sans-serif;
    background: #f9d85e;
    padding: 0.5em 0.25em;
    border-top: 1em solid #e8c237;
    box-sizing: border-box;
    box-shadow: 5px 10px #3a372b70;
}

#programmingThought > p {
    color: black;
}

.link {
    width: 45%;
}

img {
    width: 100%;
    box-shadow: 5px 10px #3a372b70;
}

#protoImageWrap {
    display: flex;
}

#protoImageWrap > img {
    margin-right: 3em;
    height: 70%;
}