header{
    text-align: center;
    padding: 1.5em;
}

a {
    text-decoration: none;
    margin: 2%;
    font-size: 20px;
    font-weight: bold;
}

p, h1, h3{
    color: black;
}

#introductionButton {
    color: #4286f4;
}

#skillButton {
    color: #44a812;
}

#contactButton {
    color: #ff4242;
}

#experienceButton {
    color: #f4ac41;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.typed-cursor{
    display: none;
}