header{
    
}

a {
    text-decoration: none;
}

p, h1, h3{
    color: white;
}

body{
    padding: 0;
    margin: 0;
    background-image: url("../images/wooden_background.jpg");
}

.typed-cursor{
    display: none;
}
